body {
  background: #eee;
}

header {
  width: 100%;
  text-align: center;
}

.snake-header {
  text-align: center;
}

main {
  width: 100%;
  text-align: center;
}

.board {
  float: left;
  display: block;
  position: fixed;
  border: 5px solid rgb(22, 138, 245);
  width: 810px;
  box-sizing: border-box;
  margin: 0 auto;
  background: #000;
  left: 18%;
}

.game-score {
  float: left;
  margin-left: 33%;
  display: block;

}
.game-level {
  float: left;
  display: block;
  margin-left: 25%;
}

.state {
  position: relative;
  margin: 0 auto;
}


.square {
  float: left;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.snake {
  background-color: yellowgreen;
  background-position: center;
  border-radius: 40%;
}

.apple {
  background: rgb(247, 5, 45);
  border-radius: 50%;
}

.new-game {
  position: absolute;
  left: 43%;
  bottom: -600%;
  z-index: 10;
  border: 1px solid rgb(236, 112, 11);
  border-radius: 10px;
  width: 15%;
  margin: 0 auto;
}

.over {
  z-index: 20;
  position: fixed;
  width: auto;
  margin: 0 auto;
  padding-top: 7%;
  left: 40%;
}

.restart {
  margin-left: 5%;
  border: 3px solid rgb(236, 112, 11);
  border-radius: 10px;
  margin-top: 15%;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

#info {
  position: fixed;
  top: 80%;
  left: 30%;
  font-size: xx-large;
  font-family: fantasy;
  color: coral;
}
