body {
  background-image: url("http://res.cloudinary.com/dypfv4yqq/image/upload/v1441002336/spring_drawing_cartoon_building_grass_28110_1600x1200_lnveqo.jpg");
  background-repeat: no-repeat;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -10;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

header {
  width: 100%;
  text-align: center;
}

.snake-header {
  text-align: center;
}

main {
  width: 100%;
  text-align: center;
}

#game-board {
  width: 810px;
  height: 600px;
  margin: 0 auto;
  text-align: center;
}

.board {
  position: fixed;
  border: 5px solid rgb(22, 138, 245);
  width: 810px;
  box-sizing: border-box;
  background: #000;

}

.game-score {
  float: left;
  margin-left: 33%;
  display: block;

}
.game-level {
  float: left;
  display: block;
  margin-left: 25%;
}

.state {
  position: relative;
  margin: 0 auto;
}


.square {
  float: left;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}

.snake {
  background-color: yellowgreen;
  background-position: center;
  border-radius: 40%;
}

.apple {
  background: rgb(247, 5, 45);
  border-radius: 50%;
}

.new-game {
  position: fixed;
  left: 42%;
  z-index: 10;
  border: 3px solid rgb(236, 112, 11);
  border-radius: 10px;
  width: 15%;
  margin: 0 auto;
  top: 300px;
}

.over {
  z-index: 20;
  position: absolute;
  width: auto;
  margin: 0 auto;
  top: 210px;
  left: 45%;
  color: rgb(255, 115, 0);
  font-size: 24px;
  text-align: center;
}

.gameover {
  font-size: 36px;
  font-family: fantasy;
}

.restart {
  margin-left: 5%;
  border: 3px solid rgb(236, 112, 11);
  border-radius: 10px;
  margin-top: 15%;
}


.group:after {
  content: "";
  display: block;
  clear: both;
}

#info {
  position: fixed;
  top: 440px;
  font-size: xx-large;
  font-family: fantasy;
  color: coral;
  width: 810px;
}
